@model Cars_ASPCore2.ViewModel.CarInServicesViewModel
<h4>Car record for customer</h4>
<div class="row form-border">
    @* make and model *@
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Make" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom:5px;">
                <input asp-for="Make" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Model" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom:5px;">
                <input asp-for="Model" disabled class="form-control" />
            </div>
        </div>
        
    </div>

    @* style and year *@
    <div class="col-sm-5 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Style" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom:5px;">
                <input asp-for="Style" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Year" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom:5px;">
                <input asp-for="Year" disabled class="form-control" />
            </div>
        </div>
    </div>
</div>