@model Cars_ASPCore2.ViewModel.CarInServicesViewModel
@{
    ViewData["Title"] = "Index";
}

<br />
@Html.Partial("_CarDetailsInServicePartial")
<hr />
<br />
<h2>Service Record</h2>
<div class="row form-border">
    @Html.Partial("_DisplayPastServices", Model)
    @if (Model.PastServiceObject.Count() > 0)
    {
        <input type="button" class="btn btn-sm btn-primary" value="Print" onclick="window.print();" />
    }

    <a asp-action="Index" asp-controller="Cars" asp-route-userId="@Model.UserId" class="btn btn-sm btn-success ">
        Back to list
    </a>
</div>



